/*Skriver til hele bodyen, og bestemmer basic ting i bodyen*/
body {
    display: grid;
    grid-template-areas: "header" "main" "footer";
    grid-template-columns: 100%;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

/* Header på alle sidene (start) */
header {
    width: 100%;
    font-size: 30px;
    font-weight: 600;
    grid-area: header; 
}

header nav {
    display: block;
}

header nav #navbar {
    display: block;
}

header nav #navbar div {
    display: flex;
    justify-content: space-between;
}

#logo img {
    width: 7rem;
}

#logo a {
    display: block;
    margin: 0;
    padding: 0;
}

#brukerhandling {
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: 1.5rem;
    padding-left: 0;
    padding-right: 10px;
    list-style-type: none;
    margin: 0;
}

#brukerhandling a {
    color: black;
}

#søkefelt-meny {
    display: flex;
    margin: 0;
    margin-left: 10px;
    margin-right: 10px;
    padding-left: 0;
    font-size: 1.5rem;
    justify-content: space-between;
    flex-direction: row-reverse;
    align-items: center;
    list-style: none;
}

#søkefelt-meny li a {
    color: black;
}

#kjønnsmeny {
    display: flex;
    font-size: 1rem;
    list-style: none;
    margin: 0;
    padding: 0;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 1rem;
}

#kjønnsmeny a {
    color: black;
}

#meny-desktop {
    display: none;
}
/* Header på alle sidene (slutt) */

main {
    grid-area: main;
}

/* Main på forside (start) */
#innhold section {
    margin: 0rem;
    text-align: center;
    border-top: solid 3px black;   
    border-bottom: solid 3px black;
    background-color: #F44336; 
    line-height: 0;
}

#innhold section img {
    width: 100%;
}

#innhold section a {
    text-decoration: none;
    color: black;
}

#innhold div #produkter {
    margin-top: 2rem;
}

#kampanjer-desktop {
    display: none;
}
/* Main på forside (slutt) */

/* Main på flerproduktside (start) */
main #nav-flerprodukt {
    display: flex;
    justify-content: space-between;
    font-size: 1rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
    margin-left: 3rem;
    margin-right: 3rem;
}

main #nav-flerprodukt a {
    text-decoration: none;
    color: black;
    font-size: 1.2rem;
}

main #nav-flerprodukt p {
    margin: 0;
    border: solid 1px black;
    border-radius: 20%;
}

main #innhold-flerprodukt {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 1rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    background-color: white;
}

#innhold-flerprodukt article {
    margin: auto;
    border: solid 1px black;
    flex-basis: 40%;
}

main #innhold-flerprodukt img {
    width: 100%;
    height: 7rem;
}

.produkt-artikkel a {
    text-decoration: none;
    color: black;
}

.produkt-artikkel p {
    padding-left: 0.5rem;
}

.produkt-artikkel h3 {
    padding-left: 0.5rem;
}
/* Main på flerproduktside (slutt) */

/*Main på produktside (start) */
#main-produkt {
    margin-top: 2rem;
    margin-bottom: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
}

#main-produkt img {
    width: 100%;
}

#main-produkt #produkt-bilder h4 {
    padding-left: 1.5rem;
}

#main-produkt #produkt-bilder i {
    padding-left: 1rem;
    font-size: 2rem;
    list-style: none;
    color: black;
}

#main-produkt #produkt-tekst {
    margin-top: 1rem;
    margin-bottom: 2rem;
    padding-left: 1rem;
}

#main-produkt #produkt-tekst h2 {
    margin-bottom: 0.5rem;
}

#main-produkt #produkt-tekst p {
    margin: 0;
    font-size: 1.5rem;
}

#main-produkt #produkt-valg article {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-bottom: 2rem;
    font-size: 2rem;
}

#main-produkt #produkt-valg p {
    margin: 0;
    padding-left: 1rem;
    margin-bottom: 2rem;
}

#main-produkt #produkt-informasjon {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
}

#main-produkt #om-produktet-desktop {
    display: none;
}
/*Main på produktside (slutt) */

/* Footer på alle sidene (start) */
footer {
    grid-area: footer;
}

footer {
    background-color: lightgray;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

footer ul li {
    list-style: none;
    background-color: rgb(167, 168, 167);
    border: solid 1px rgb(71, 71, 71);
    border-radius: 10%;
}

footer ul a {
    color: black;
    text-decoration: none;
}

#footer-topp {
    display: flex;
    justify-content: space-around;
    padding: 0;
    font-weight: 700;
    margin-top: 0;
}

#footer-bunn {
    display: flex;
    justify-content: space-around;
    padding: 0;
    font-weight: 700;
    margin-bottom: 0;
}

#sosialemedier {
    background-color: rgb(90, 124, 225);
}

#footer-desktop {
    display: none;
}

#footer-tittel {
    display: none;
}
/* Footer på alle sidene (slutt) */

/* Bestemmer hva som skal skje etter 600px bredde */
@media only screen and (min-width: 600px) {

    body {
        grid-template-columns: repeat(3, 1fr);
    }
   
    /*Header på alle sidene (start) */
    header {
        grid-column: span 3;
        width: 100%;
    }

    #logo img {
        font-size: 1rem;
    }

    header nav {
        width: 100%;
        display: block;
        font-size: 1rem;
        font-weight: 600;
    }

    header nav #navbar {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    header nav #navbar div {
        order: 0;
    }

    header nav #navbar ul {
        margin: 0;
        gap: 1rem;
        order: 1;
    }

    header nav #navbar #søkefelt-meny {
        order: 2;
    }

    #ham {
        display: none;
    }
    
    #meny-desktop {
        display: flex;
        justify-content: space-between;
        list-style: none;
        margin: 0;
        padding-right: 40px;
        border-bottom: dashed 2px black;
    }

    #meny-desktop a {
        color: black;
        text-decoration: none;
    }
    /*Header på alle sidene (slutt) */

    main {
        grid-column: span 3;
    }

    /* Main på forside (start) */
    #innhold #desktop-oppsett {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        padding-top: 1.5rem;
    }

    #innhold #desktop-oppsett section{
        padding-top: 1.5rem;
    }

    #innhold #desktop-oppsett img {
        width: 100%;
        height: 60%;
    }

    #desktop-oppsett section {
        width: 30%;
        margin: 0;
    }

    #innhold div #produkter {
        margin-top: 0;
    }

    main section {
        background-color: white;
    }

    #innhold #kampanjer-desktop {
        display: flex;
        justify-content: space-around;
        border-top: solid 3px black;
        margin-top: 2rem;
        margin-bottom: 2rem;
    }

    #innhold #kampanjer-desktop img {
        height: 20rem;
    }
    /* Main på forside (slutt) */
   
    /* Main på flerproduktside (start) */
    main #innhold-flerprodukt {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: wrap;
        gap: 1rem;
        margin-top: 2rem;
        margin-bottom: 2rem;
        background-color: white;
    }
    
    #innhold-flerprodukt article {
        margin: auto;
        flex-basis: 30%;
    }
    
    main #innhold-flerprodukt img {
        width: 100%;
        height: 10rem;
    }
    /* Main på flerproduktside (slutt) */

    /* Main på produktside (start) */
    #main-produkt{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    #main-produkt #produkt-bilder {
        order: 0;
    }

    #main-produkt #produkt-midtseksjon-desktop {
        order: 1;
        display: flex;
        flex-direction: column;
        padding-top: 3rem;
        padding-left: 2rem;
    }

    #main-produkt #om-produktet-desktop {
        order: 2;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        padding-top: 3rem;
        padding-bottom: 3rem;
    }

    #main-produkt #produkt-informasjon {
        display: none;
    }
    /* Main på produktside (slutt) */

    /* footer på alle sidene (start) */
    footer {
        grid-column: span 3;
        padding-top: 0;
        padding-bottom: 0;
    }

    #footer-topp, #footer-bunn {
        display: none;
    }

    #footer-tittel{
        display: flex;
        justify-content: space-between;
        padding: 0;
        font-weight: 700;
        background-color: #F44336;
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }

    #footer-desktop {
        display: flex;
        justify-content: space-between;
        padding: 0;
        padding-bottom: 1rem;
        font-weight: 700;
        background-color: #F44336;
    }

    footer nav {
        font-size: 1.5rem;
    }

    footer nav ul {
        padding: 0;
        margin: 0;
        margin-left: 1.5rem;
        margin-right: 1.5rem;
        background-color: #F44336;
    }

    footer ul li {
        background-color: #F44336;
        border: none;
        border-bottom: solid 2px black;
        border-radius: 0;
    }

    footer ul a {
        color: black;
        text-decoration: none;
    }
    /* Footer på alle sidene (slutt) */
}